* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0px 4px 0px 4px;
}

a {
  color: #00b7ff;
}

.vert-spacing-15 {
  height: 15px;
}

.divider {
  height: 35px;
  /* width: 70%; */
  /* text-align: center; */
  /* border-bottom: 1px solid black; */
  /* margin: 15px auto 15px auto; */
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.full-width {
  width: 100%;
}

section {
  display: flex;
}

.heading {
  display: block;
  font-weight: 700;
  /* font-size: 17px; */
  width: 70%;
  text-align: center;
  /* border-bottom: 1px solid black; */
  margin: 10px auto 10px auto;
}

/* Style the footer */
footer {
  background-color: #777;
  margin: 0px;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 10px;
  border-radius: 0px 0px 5px 5px;
}

/*******************************************************************************************
       Message Boxes
*******************************************************************************************/
.info,
.success,
.warning,
.error,
.validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.info {
  color: #00529b;
  background-color: #bde5f8;
  background-image: url('/images/info.png');
}
.success {
  color: #4f8a10;
  background-color: #dff2bf;
  background-image: url('/images/success.png');
}
.warning {
  color: #9f6000;
  background-color: #feefb3;
  background-image: url('/images/warning.png');
}
.error {
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url('/images/error.png');
}
.validation {
  color: #d63301;
  background-color: #ffccba;
  background-image: url('/images/validation.png');
}
/*******************************************************************************************
       Padding/Margins
*******************************************************************************************/
.no-bottom-pm {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.no-top-pm {
  padding-top: 0px;
  margin-top: 0px;
}
/*******************************************************************************************
       CONTAINERS
*******************************************************************************************/
.vert-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.hori-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.flex-container {
  display: flex;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-center-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*******************************************************************************************
       HEADER
*******************************************************************************************/
/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(120, 139, 145);
  padding: 15px 10px 15px 10px;
  text-align: left;
  vertical-align: middle;
  /* font-size: 35px; */
  color: black;
}
header span.title {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 26px;
}
header span.title a {
  text-decoration: none;
  color: black;
}
header span.title a:hover {
  text-decoration: underline;
  color: black;
}
header div.loginbox img {
  float: right;
  width: 48px;
  height: 48px;
  margin-top: -8px; /* Center in the heading */
  margin-left: 15px;
}

/*******************************************************************************************
       SEARCH BOX
*******************************************************************************************/
.searchbox {
  margin-bottom: 15px;
}
.input-field {
  width: 100%;
  padding: 7px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 40px;
  text-align: center;
}

.search-term {
  color: #c45500 !important;
}

/*******************************************************************************************
       FONT SIZE
*******************************************************************************************/
.font-small {
  font-size: 10px;
}
.font-normal {
  font-size: 12px;
}
.font-large {
  font-size: 15px;
}
.font-xlarge {
  font-size: 17px;
}
.font-xxlarge {
  font-size: 20px;
}
.font-xxxlarge {
  font-size: 24px;
}
/*******************************************************************************************
       SIDE BAR
*******************************************************************************************/
.bookoftheday {
  display: flex;
}
.recommendationlist {
  display: flex;
  flex-flow: row wrap;
}
.recommendationlist .book {
  margin-bottom: 10px;
}
/*******************************************************************************************
       BOOKS
*******************************************************************************************/
.book-long {
  display: flex;
}

.book {
  display: flex;
}

.book-cover {
  width: 95px;
  max-height: 101px;
}

.book-details {
  width: 100%;
  padding-left: 20px;
}

.book-title {
  display: block;
  font-weight: 700;
  /* font-size: 14pt;
  text-decoration: none; */
}
.book-authors {
  display: block;
  margin-bottom: 5px;
}
.book-description {
  position: relative;
  display: block;
  /* use this value to count block height */
  line-height: 1.3em;
  /* max-height = line-height (1.3) * lines max number (3) */
  max-height: 3.9em; 
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: justify;
  padding-right: 1rem;
  /* white-space: nowrap; */
}
.book-description::after {
  content: "...";
	position: absolute;
	right: 0;
	width: 1rem;
	bottom: 0;
	background: inherit;
	/* margin-right: 0.8rem; */
  text-align: right;
}

.bookoftheday .book-description {
  /* use this value to count block height */
  line-height: 2.3ex;
  /* max-height = line-height (1.3) * lines max number (10) */
  max-height: 10.8ex; 
  text-align: left;
}

.book-deals {
  margin-left: 50px;
  display: flex;
  /* justify-content: center; */
}
.book-deal {
  margin-left: 10px;
  min-width: 120px;
  text-align: center;
}
.book-deal ul {
  list-style-type: none;
  padding: 0;
}
.book-deal li i {
  font-size: 26px;
}
.book-cover-lg {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 175px;
  max-height: 200px;
}
.checked {
  color: orange;
}
/*******************************************************************************************
       Book Details Page
*******************************************************************************************/
#book_details_page h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

ul.authors {
  display: inline;
  list-style: none;
  padding-left: 0px;
}

ul.authors li {
  display: inline;
}

ul.authors li:after {
  content: ', ';
}
ul.authors li:last-child:after {
  content: '';
}

ul.book_categories {
  display: inline;
  list-style: none;
  padding-left: 0px;
}

ul.book_categories li {
  display: inline;
}

ul.book_categories li:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f061';
  display: inline-block;
  padding-left: 3px;
  vertical-align: middle;
  font-weight: 900;
}
ul.book_categories li:last-child:after {
  content: '';
}
/*******************************************************************************************
       REVIEW
*******************************************************************************************/
.product-detail {
  margin-right: auto;
}
.product-detail ul {
  list-style-type: none;
}
.submit-review {
  flex-grow: 1;
  min-width: 306px;
}
.reviews {
  flex-grow: 1;
  min-width: 500px;
  width: 100%;
}
.reviews ul {
  list-style-type: none;
}
.reviews ul li div img {
  float: left;
  width: 38px;
  height: 38px;
  /* margin-top: -8px; */
}
.reviews ul li div p {
  padding-left: 10px;
}

.reviews .user-review-text {
  margin-bottom: 15px;
}

.review-comment {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  font-size: 16px;
}
.review-btn {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  margin: 4px 2px;
}
.enter-user-review {
  padding: 10px;
}
.enter-user-review .enter-rating {
  height: 30px;
  width: 100%;
}
.rate-this-book {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
/*******************************************************************************************
       RIGHT SIDE
*******************************************************************************************/
/* Create two columns/boxes that floats next to each other */
nav {
  width: 25%;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  padding: 20px;
  width: 100%;
  /* background-color: #f1f1f1; */
}
article#landing_page {
  float: left;
  padding: 20px;
  width: 75%;
  /* background-color: #f1f1f1; */
}

/* Clear floats after the columns */
section:after {
  content: '';
  display: table;
  clear: both;
}

/*******************************************************************************************
       Signin and Signup Pages
*******************************************************************************************/

.signin {
  display: table;
  height: 100%;
  width: 45%;
  margin: 0 auto;
}

.signin_inner {
  display: table-cell;
  height: 100%;
  width: 100%;
  padding: 5px;
}

form {
  border: 3px solid #f1f1f1;
}

.signin input {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0px 15px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signin button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 15px 0px 0px 0px;
  border: none;
  cursor: pointer;
  width: 50%;
}

.signin .buttons {
  text-align: center;
}

.signin button:hover {
  opacity: 0.8;
}

.signin .cancelbtn {
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

.signin .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.signin img.avatar {
  width: 25%;
  border-radius: 70%;
}

.signin .container {
  padding: 16px;
}

/* 
Responsive layout - makes the two columns/boxes stack on top of each other
instead of next to each other, on small screens 
*/
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
