* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 0px 4px 0px 4px;
}
a {
  color: #00b7ff;
}

.vert-spacing-15 {
  height: 15px;
}

.divider {
  width: 70%;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 15px auto 15px auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

section {
  display: flex;
}

.heading {
  display: block;
  font-weight: 700;
  /* font-size: 17px; */
  width: 70%;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 10px auto 10px auto;
}

/* Style the footer */
footer {
  background-color: #777;
  margin: 0px;
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 10px;
  border-radius: 0px 0px 5px 5px;
}

/*******************************************************************************************
       CONTAINERS
*******************************************************************************************/
.vert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*******************************************************************************************
       HEADER
*******************************************************************************************/
/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(120, 139, 145);
  padding: 15px 10px 15px 10px;
  text-align: left;
  vertical-align: middle;
  /* font-size: 35px; */
  color: black;
}
header span.title {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 26px;
}
header div.loginbox img {
  float: right;
  width: 48px;
  height: 48px;
  margin-top: -8px; /* Center in the heading */
  margin-left: 15px;
}

/*******************************************************************************************
       SEARCH BOX
*******************************************************************************************/
.input-field {
  width: 100%;
  padding: 7px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 40px;
  text-align: center;
}

/*******************************************************************************************
       FONT SIZE
*******************************************************************************************/
.font-small {
  font-size: 10px;
}
.font-normal {
  font-size: 12px;
}
.font-large {
  font-size: 15px;
}
.font-xlarge {
  font-size: 17px;
}
/*******************************************************************************************
       SIDE BAR
*******************************************************************************************/
.bookoftheday {
  display: flex;
}
.recommendationlist {
  display: flex;
  flex-flow: row wrap;
}
.recommendationlist .book {
  margin-bottom: 10px;
}
/*******************************************************************************************
       BOOKS
*******************************************************************************************/
.book-long {
  display: flex;
}

.book {
  display: flex;
}

.book-cover {
  max-width: 95px;
  max-height: 101px;
}

.book-details {
  padding-left: 10px;
}

.book-title {
  display: block;
  font-weight: 700;
}
.book-authors {
  display: block;
  margin-bottom: 5px;
}
.book-description {
  display: block;
}
.book-deals {
  margin-left: 50px;
  display: flex;
  /* justify-content: center; */
}
.book-deal {
  margin-left: 10px;
  min-width: 120px;
  text-align: center;
}
.book-deal ul {
  list-style-type: none;
  padding: 0;
}
.book-deal li i {
  font-size: 26px;
}
/*******************************************************************************************
       RIGHT SIDE
*******************************************************************************************/
/* Create two columns/boxes that floats next to each other */
nav {
  width: 25%;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 75%;
  /* background-color: #f1f1f1; */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/*******************************************************************************************
       Signin and Signup Pages
*******************************************************************************************/

.signin {
  display: table;
  height: 100%;
  width: 45%;
  margin: 0 auto;
}

.signin_inner {
  display: table-cell;
  height: 100%;
  width: 100%;
  padding: 5px;
}

form {
  border: 3px solid #f1f1f1;
}

.signin input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signin button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

.signin .buttons {
  text-align: center;
}

.signin button:hover {
  opacity: 0.8;
}

.signin .cancelbtn {
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

.signin .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

.signin img.avatar {
  width: 25%;
  border-radius: 70%;
}

.signin .container {
  padding: 16px;
}

/* 
Responsive layout - makes the two columns/boxes stack on top of each other
instead of next to each other, on small screens 
*/
@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
