*.aux
*.log
*.synctex.gz
*.bbl
*.blg
*.out
src/web/node_modules/*
src/ml/movie-recommendation/recs.tsv
**/.ipynb_checkpoints

*.bak
.vscode/settings.json
src/scraper/__pycache__/
*.pyc
src/scraper/chromedriver.exe


# Ignore all book_covers but keep the directory
src/web/public/images/book_covers/*
!src/web/public/images/book_covers/.gitkeep 