<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.1.0/css/solid.css"
        integrity="sha384-TbilV5Lbhlwdyc4RuIV/JhD8NR+BfMrvz4BL5QFa2we1hQu6wvREr3v6XSRfCTRp"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.1.0/css/regular.css"
        integrity="sha384-avJt9MoJH2rB4PKRsJRHZv7yiFZn8LrnXuzvmZoD3fh1aL6aM6s0BBcnCvBe6XSD"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css"
        integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG"
        crossorigin="anonymous">
  <link rel='stylesheet'
        href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <span class="title">TheBookworm</span>
    <div class="loginbox">
      <img src="/images/headshot-placeholder.png" />
      <div>Hello Jon</div>
      <div><a href="/account/">My Account</a></div>
    </div>
  </header>

  <section>


    {{{body}}}


  </section>

  <footer>
    <p>Footer</p>
  </footer>
</body>

</html>