<nav>
    <div class="bookoftheday">

    </div>
    <div class="recommendationlist">

    </div>
</nav>

<article>
    <div class="searchbox">
        <div class="input-container">
            <i class="fa fa-search icon"></i>
            <input class="input-field"
                   type="text"
                   placeholder="Search using Book Name, Author, or Keyword"
                   name="s">
        </div>
    </div>

    <div class="heading font-xlarge">The Highest Rated Books of 2018</div>

    <div class="book-long">
        <img class="book-cover"
             src="/images/book_cover_placeholder.png" />
        <span class="book-details">
            <a href="#"
               class="book-title font-large">The Perks of Being A Wallflower</a>
            <span class="book-authors font-normal">By <a href="#">Stephen Chbosky</a></span>
            <span class="book-description font-normal">I am flavour text...</span>
        </span>
        <span class="book-deals">
            <span class="book-deal">
                <ul>
                    <li class="center"><i class="fab fa-amazon"></i></li>
                    <li>Rating: 4/5</li>
                    <li><a href="#"
                           class="font-small deal-amazon">Click here to Buy</a></li>
                </ul>
            </span>
            <span class="book-deal">
                <ul>
                    <li class="center"><i class="fab fa-amazon"></i></li>
                    <li>Rating: 4/5</li>
                    <li><a href="#"
                           class="font-small deal-amazon">Click here to Buy</a></li>
                </ul>
            </span>
            <span class="book-deal">
                <ul>
                    <li class="center"><i class="fab fa-amazon"></i></li>
                    <li>Rating: 4/5</li>
                    <li><a href="#"
                           class="font-small deal-amazon">Click here to Buy</a></li>
                </ul>
            </span>
        </span>
    </div>
</article>