<nav>
    <div class="bookoftheday">

    </div>
    <div class="recommendationlist">

    </div>
</nav>

<article>
    <div class="searchbox">
        <div class="input-container">
            <i class="fa fa-search icon"></i>
            <input class="input-field"
                   type="text"
                   placeholder="Search using Book Name, Author, or Keyword"
                   name="s">
        </div>
    </div>
</article>