<div class="signin">
  <div class="signin_inner">
    <form action="/account/signup" method="POST">
      <div class="imgcontainer">
        <img src="/images/img_avatar2.png" alt="Avatar" class="avatar">
      </div>

      <div class="container">
        {{#if error}}
          <div id="error_msg" class="error">
            An error occurred when trying to setup an account<br />
            <b>Error Message:</b> {{error}}
          </div>
        {{/if}}
        <label for="fullname"><b>Full Name</b></label>
        <input id="fullname" type="text" placeholder="Enter Full Name" name="fullname" required="true">

        <label for="email"><b>Email Address</b></label>
        <input id="email" type="text" placeholder="Enter Email Address" name="email" required="true">

        <label for="password"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="password" required="true">

        <label for="confirmation_password"><b>Confirm Password</b></label>
        <input id="confirmation_password" type="password" placeholder="Enter Password Again"
          name="confirmation_password" required="true">

        <div class="buttons">
          <button id="signup" type="submit">Sign Up</button>
          <div class="signin">
            <span>
              Already Registered?
              <a id="signin" href="/account/signin">Sign In</a>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
